In [70]:
from utils.utils import TransformRawData
from models.MedianLevelShift import MLS, est_pred_agg

In [2]:
analysis_name = "exploration"

In [3]:
instance = TransformRawData(analysis_name).run()

In [71]:
df = instance.df_all

In [78]:
group = df.groupby(level=[0, 1, 2])
model = MLS()
df_scores = est_pred_agg(group, df.columns, model)

In [79]:
df_scores

                                       sensor_1  sensor_2  sensor_3  sensor_4
car_id component_id component_part_id
215143 1437         bp11               1.758894  1.619293  2.536785  1.743625
                    bp12               1.599022  1.587667  1.828240  1.618533
                    bp13               1.592327  1.477357  2.194491  1.551519
                    bp14               1.677608  1.494947  2.098385  1.616639
                    bp21               1.696008  1.320539  1.343026  1.446753
...                                         ...       ...       ...       ...
       6473         bp44               2.231044  3.143891  7.878621  2.606327
                    sp11               1.409226  1.444461  1.723092  1.663069
                    sp12               1.472094  1.498269  5.070529  1.704424
                    sp21               1.777268  1.481235  1.260338  1.322736
                    sp22               1.903063  1.802783  1.407681  1.547809

[420 rows x 4 columns]