In [113]:
from utils.utils import TransformRawData

In [125]:
analysis_name = "exploration"

In [126]:
instance = TransformRawData(analysis_name)

In [127]:
instance.create_df_all()

TransformRawData instance. Pending methods: {'None', 'create_multi_index', 'remove_columns', 'create_labels', 'robust_scale_data', 'clean_data'}

In [128]:
instance.df_all

,brand_id,car_id,car_component,component_id,timestamp,component_part_id,sensor_1,sensor_2,sensor_3,sensor_4,non_defect_likelihood
0,7623909,234444,motor,8285,2022-05-25 21:09:54.672448,44,1.006716,18089.04,128.66488,18083.80,0.999877
1,7623909,234444,motor,8285,2022-05-25 21:09:54.672448,32,1.098652,10797.78,133.19207,19093.06,0.999835
2,7623909,234444,motor,8285,2022-05-25 21:09:54.672448,31,0.976108,13513.02,109.99874,20455.96,0.999850
3,7623909,234444,motor,8285,2022-05-25 21:09:54.672448,34,1.148134,18603.00,107.10599,24748.64,0.999865
4,7623909,234444,motor,8285,2022-05-25 21:09:54.672448,22,0.649694,10917.00,91.81226,16296.28,0.999873
...,...,...,...,...,...,...,...,...,...,...,...
2238946,7623909,234579,motor,8977,2023-05-03 21:29:31.951756,11,1.401136,31534.72,93.75132,19967.25,0.999868
2238947,7623909,234579,motor,8977,2023-05-03 21:29:31.951756,12,1.040714,24136.64,98.85096,14097.87,0.999895
2238948,7623909,234579,motor,8977,2023-05-03 21:29:31.951756,33,2.277857,41336.32,104.74516,29016.45,0.999850
2238949,7623909,234579,motor,8977,2023-05-03 21:29:31.951756,34,2.055146,42747.36,97.22882,28152.30,0.999853
2238950,7623909,234579,motor,8977,2023-05-03 21:29:31.951756,41,2.122574,48910.72,117.91130,24043.35,0.999853

In [129]:
instance.clean_data()

TransformRawData instance. Pending methods: {'None', 'create_multi_index', 'remove_columns', 'create_labels', 'robust_scale_data'}

In [130]:
instance.df_all

,brand_id,car_id,car_component,component_id,timestamp,component_part_id,sensor_1,sensor_2,sensor_3,sensor_4,non_defect_likelihood
0,7623909,234444,motor,8285,2022-05-25 21:09:54.672448,44,1.006716,18089.04,128.66488,18083.80,0.999877
1,7623909,234444,motor,8285,2022-05-25 21:09:54.672448,32,1.098652,10797.78,133.19207,19093.06,0.999835
2,7623909,234444,motor,8285,2022-05-25 21:09:54.672448,31,0.976108,13513.02,109.99874,20455.96,0.999850
3,7623909,234444,motor,8285,2022-05-25 21:09:54.672448,34,1.148134,18603.00,107.10599,24748.64,0.999865
4,7623909,234444,motor,8285,2022-05-25 21:09:54.672448,22,0.649694,10917.00,91.81226,16296.28,0.999873
...,...,...,...,...,...,...,...,...,...,...,...
2228934,7623909,234579,motor,8977,2023-05-03 21:29:31.951756,11,1.401136,31534.72,93.75132,19967.25,0.999868
2228935,7623909,234579,motor,8977,2023-05-03 21:29:31.951756,12,1.040714,24136.64,98.85096,14097.87,0.999895
2228936,7623909,234579,motor,8977,2023-05-03 21:29:31.951756,33,2.277857,41336.32,104.74516,29016.45,0.999850
2228937,7623909,234579,motor,8977,2023-05-03 21:29:31.951756,34,2.055146,42747.36,97.22882,28152.30,0.999853
2228938,7623909,234579,motor,8977,2023-05-03 21:29:31.951756,41,2.122574,48910.72,117.91130,24043.35,0.999853

In [131]:
instance.create_multi_index()

TransformRawData instance. Pending methods: {'create_labels', 'robust_scale_data', 'remove_columns', 'None'}

In [132]:
instance.df_all

                                      brand_id car_component  \
car_id component_id component_part_id
234444 8285         44                 7623909         motor
                    32                 7623909         motor
                    31                 7623909         motor
                    34                 7623909         motor
                    22                 7623909         motor
...                                        ...           ...
234579 8977         11                 7623909         motor
                    12                 7623909         motor
                    33                 7623909         motor
                    34                 7623909         motor
                    41                 7623909         motor

                                                       timestamp  sensor_1  \
car_id component_id component_part_id
234444 8285         44                2022-05-25 21:09:54.672448  1.006716
                    32                2022-05-25 21:09:54.672448  1.098652
                    31                2022-05-25 21:09:54.672448  0.976108
                    34                2022-05-25 21:09:54.672448  1.148134
                    22                2022-05-25 21:09:54.672448  0.649694
...                                                          ...       ...
234579 8977         11                2023-05-03 21:29:31.951756  1.401136
                    12                2023-05-03 21:29:31.951756  1.040714
                    33                2023-05-03 21:29:31.951756  2.277857
                    34                2023-05-03 21:29:31.951756  2.055146
                    41                2023-05-03 21:29:31.951756  2.122574

                                       sensor_2   sensor_3  sensor_4  \
car_id component_id component_part_id
234444 8285         44                 18089.04  128.66488  18083.80
                    32                 10797.78  133.19207  19093.06
                    31                 13513.02  109.99874  20455.96
                    34                 18603.00  107.10599  24748.64
                    22                 10917.00   91.81226  16296.28
...                                         ...        ...       ...
234579 8977         11                 31534.72   93.75132  19967.25
                    12                 24136.64   98.85096  14097.87
                    33                 41336.32  104.74516  29016.45
                    34                 42747.36   97.22882  28152.30
                    41                 48910.72  117.91130  24043.35

                                       non_defect_likelihood
car_id component_id component_part_id
234444 8285         44                              0.999877
                    32                              0.999835
                    31                              0.999850
                    34                              0.999865
                    22                              0.999873
...                                                      ...
234579 8977         11                              0.999868
                    12                              0.999895
                    33                              0.999850
                    34                              0.999853
                    41                              0.999853

[2228939 rows x 8 columns]

In [122]:
instance.create_labels()

TransformRawData instance. Pending methods: {'robust_scale_data', 'remove_columns', 'None'}

In [123]:
instance.labels

car_id  component_id  component_part_id
234444  8285          11                   False
                      12                   False
                      13                   False
                      14                   False
                      21                   False
                                           ...
234794  10170         34                   False
                      41                   False
                      42                   False
                      43                   False
                      44                   False
Name: non_defect_likelihood, Length: 336, dtype: bool

In [124]:
instance.remove_columns()

TransformRawData instance. Pending methods: {'robust_scale_data', 'None'}

In [107]:
instance.df_all

                                       sensor_1  sensor_2   sensor_3  sensor_4
car_id component_id component_part_id
234444 8285         44                 1.006716  18089.04  128.66488  18083.80
                    32                 1.098652  10797.78  133.19207  19093.06
                    31                 0.976108  13513.02  109.99874  20455.96
                    34                 1.148134  18603.00  107.10599  24748.64
                    22                 0.649694  10917.00   91.81226  16296.28
...                                         ...       ...        ...       ...
234579 8977         11                 1.401136  31534.72   93.75132  19967.25
                    12                 1.040714  24136.64   98.85096  14097.87
                    33                 2.277857  41336.32  104.74516  29016.45
                    34                 2.055146  42747.36   97.22882  28152.30
                    41                 2.122574  48910.72  117.91130  24043.35

[2228939 rows x 4 columns]

In [108]:
instance.robust_scale_data()

TransformRawData instance. Pending methods: {'None'}

In [109]:
instance.df_all

                                       sensor_1  sensor_2  sensor_3  sensor_4
car_id component_id component_part_id
234444 8285         44                -0.238881 -0.423708  0.432089 -0.062711
                    32                -0.176978 -0.595693  0.491739 -0.020508
                    31                -0.259491 -0.531646  0.186147  0.036482
                    34                -0.143661 -0.411585  0.148033  0.215983
                    22                -0.479274 -0.592880 -0.053475 -0.137457
...                                         ...       ...       ...       ...
234579 8977         11                 0.026692 -0.106555 -0.027926  0.016047
                    12                -0.215990 -0.281059  0.039266 -0.229385
                    33                 0.617011  0.124642  0.116927  0.394444
                    34                 0.467054  0.157926  0.017893  0.358309
                    41                 0.512454  0.303305  0.290402  0.186491

[2228939 rows x 4 columns]

In [110]:
instance.run()

TransformRawData instance. Pending methods: {'None'}

In [111]:
df = instance.df_all

In [112]:
df

                                       sensor_1  sensor_2  sensor_3  sensor_4
car_id component_id component_part_id
234444 8285         44                -0.238881 -0.423708  0.432089 -0.062711
                    32                -0.176978 -0.595693  0.491739 -0.020508
                    31                -0.259491 -0.531646  0.186147  0.036482
                    34                -0.143661 -0.411585  0.148033  0.215983
                    22                -0.479274 -0.592880 -0.053475 -0.137457
...                                         ...       ...       ...       ...
234579 8977         11                 0.026692 -0.106555 -0.027926  0.016047
                    12                -0.215990 -0.281059  0.039266 -0.229385
                    33                 0.617011  0.124642  0.116927  0.394444
                    34                 0.467054  0.157926  0.017893  0.358309
                    41                 0.512454  0.303305  0.290402  0.186491

[2228939 rows x 4 columns]